<h3>{{ option_title }} <a title="What does this mean?" href="{{ link }}"><i class="fa fa-question-circle"></i></a></h3>
<div class="{{ option_name|clean_class }}">
{% block option_content %}
  {% if option_name == "allow_list" or option_name == 'assignees' or option_name == 'blocklist' or option_name == 'labels' or option_name == 'labels_security' %}
    {% if option_value == 'unset' or option_value is empty %}
      You have not configured {{ empty_name }} for this project.
    {% else %}
      <ul>
      {% for item in option_value %}
        <li>{{ item }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% else %}
    {% if option_value is same as("unset") %}
      {% if option_name == 'default_branch' %}
        No configuration was found. This means your project will use the default branch of your project.
      {% else %}
        No configuration was found. This means your project will use the default value, which is <code>{{ default_value }}</code>{{ empty_suffix }}.
      {% endif %}
    {% else %}
      Configuration value: <code>{{ option_value }}</code>
    {% endif %}
  {% endif %}
{% endblock %}
</div>
