{% extends "violinist-projects-config-option.html.twig" %}
{% block option_content %}
  {% if option_value == 'unset' or option_value is empty %}
    You have not configured any bundled packages.
  {% else %}
    {% for project, bundle in option_value %}
      <p>
        <strong>{{ project }}</strong>. Updates are bundled with:
        <ul>
        {% for bundled_project in bundle %}
          <li>{{ bundled_project }}</li>
        {% endfor %}
        </ul>
        </p>
    {% endfor %}
  {% endif %}
{% endblock %}
