{% extends "violinist-projects-config-option.html.twig" %}
{% block option_content %}
  {% if option_value is same as("unset") %}
    No configuration was found. This means your project will use the default, which is <code>""</code> (empty string). An empty string indicates no convention, and is the same as setting this to <code>none</code>.
  {% else %}
        Configuration value: <code>"{{ option_value }}"</code>.
    {% if option_value is same as("") %}
          An empty string indicates no convention will be used, and is the same as setting this to <code>none</code>.
    {% endif %}
  {% endif %}
{% endblock %}
