<details class="p-2 border-2 my-2">
  <summary class="cursor-pointer">{{ 'Instructions to use with github actions'|t }}</summary>
  {%  block code_block %}
  <pre class="my-2 overflow-x-auto bg-black text-white p-2">
<code>name: Update
on:
  # By having "workflow_dispatch" we can trigger the workflow manually, but
  # theoretically also programmatically.
  workflow_dispatch:
  schedule:
    - cron: '2 * * * *' # every hour
  # By using push as well, we make sure our PRs are updated when the main branch has new commits.
  push:
    branches:
     - main # replace with your main branch name

jobs:
  violinist:
  name: Run update checks and create PRs
  runs-on: ubuntu-latest
  steps:
    - uses: violinist-dev/update-action@1.x
      env:
        USER_TOKEN: ${{ '{{' }} secrets.REPLACE_WITH_TOKEN {{ '}}' }} # replace with your secret name
        PROJECT_URL: ${{ '{{' }} github.repositoryUrl {{ '}}' }}
        LICENCE_KEY: ${{ '{{' }} secrets.REPLACE_WITH_LICENSE {{ '}}' }} # replace with your secret name</code>
</pre>
  {% endblock %}

  <p class="py-2">
    {{ 'Remember to substitute with an appropriate value for the <code>REPLACE_WITH_TOKEN</code>, and to place your licence in a secret and substitute <code>REPLACE_WITH_LICENSE</code> with your chosen secret name.'|t }}
  </p>
</details>
