{% if option_name == 'blacklist' and option_value and option_value != 'unset' %}
<h3>Blacklist</h3>
<div class="blacklist-deprecated">
  You are using a block list with the option <code>blacklist</code>, which has been deprecated. Please switch to using <code>blocklist</code> instead. Your configuration is still being used, and should be listed below under "block list".
</div>
{% endif %}
