<div class="row">
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-danger">
      <div class="inner">
        <a title="{{ "Information about errors"|t }}" href="{{ errors.url }}"><h3>{{ errors.count }}</h3></a>
        <p>Errors</p>
      </div>
      <div class="icon">
        <i class="fa fa-exclamation-circle"></i>
      </div>
      <a href="{{ errors.url }}" class="small-box-footer">
        More info <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-success">
      <div class="inner">
        <a title="{{ "Information about updates available"|t }}" href="{{ updates.url }}"><h3>{{ updates.count }}</h3></a>
        <p>Updates available</p>
      </div>
      <div class="icon">
        <i class="fa fa-check-circle"></i>
      </div>
      <a href="{{ updates.url }}" class="small-box-footer">
        More info <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-warning">
      <div class="inner">
        <a title="{{ "Information about packages outside constraint"|t }}" href="{{ outside.url }}"><h3>{{ outside.count }}</h3></a>
        <p>Packages outside constraint</p>
      </div>
      <div class="icon">
        <i class="fa fa-times-circle"></i>
      </div>
      <a href="{{ outside.url }}" class="small-box-footer">
        More info <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-xs-6">
    <div class="small-box bg-info">
      <div class="inner">
        <a title="{{ "Information about packages not automatically updated"|t }}" href="{{ could_not_update.url }}"><h3>{{ could_not_update.count }}</h3></a>
        <p>Not automatically updated</p>
      </div>
      <div class="icon">
        <i class="fa fa-question-circle"></i>
      </div>
      <a href="{{ could_not_update.url }}" class="small-box-footer">
        More info <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
</div>
