<div class="font-mono relative bg-gray-900 text-white my-1 p-5 pt-2 message-{{ type }}">
  <div class="absolute right-4 text-xs text-gray-200 sm:text-xs">{{ time }}</div>
  <div class="whitespace-pre-wrap break-words pt-5">{{ message|trim }}</div>
</div>
