<div class="panel panel-default">
  <div class="panel-heading">{{ package }}</div>
  {% if output %}
    <div class="panel-body">
      <h4>Output from update run:</h4>
      <pre><code>$ {{ command }}</code></pre>
      <div class="log-console">
        <div class="update-message">
          <div class="message-message">{{ output }}</div>
        </div>
      </div>
      {% if why_not %}
        <h4>But why?</h4>
        <p>It's not always easy to understand based on the command output why a package is updated. Luckily, composer provides us with the command <a href="https://getcomposer.org/doc/03-cli.md#prohibits-why-not-">why-not</a>. So let's ask composer why-not:</p>
        <pre><code>$ {{ why_not_command }}</code></pre>
        <div class="log-console">
          <div class="update-message">
            <div class="message-message">{{ why_not }}</div>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
</div>
