<div class="key-wrapper">
  <p>
    {{ 'Your licence key is:'|t }}
  </p>

  {{ key }}

  <details class="p-2 border-2 my-2">
    <summary class="cursor-pointer">{{ 'Licence key data'|t }}</summary>

    <pre class="my-2 overflow-x-auto bg-black text-white p-2">
<code>Licence key expiry: {{ expiry }}
{% if prefix %}
Licence key prefix: {{ prefix }}{% endif %}</code></pre>
  </details>

  {% for instruction in instructions %}
    {{ instruction }}
  {% endfor %}

</div>
