<div>
  <div class="config-status-inner">
    {% for config in config_options %}
      {{ config }}
    {% endfor %}
  </div>
  {% if last_updated %}
    <p>Config last updated: {{ last_updated }}</p>
  {% endif %}
</div>
