<details class="p-2 border-2 my-2">
  <summary class="cursor-pointer">{{ 'Instructions to use with docker'|t }}</summary>

  {%  block code_block %}
  <pre class="my-2 overflow-x-auto bg-black text-white p-2">
<code>docker run \
  --pull=always \
  -e "LICENCE_KEY={{ key }}" \
  -e "PROJECT_URL={{ url }}" \
  -e "USER_TOKEN=REPLACE_WITH_TOKEN" \
  ghcr.io/violinist-dev/update-check-runner:{{ php_version }}-multi-composer-{{ composer_version }}</code>
</pre>
  {% endblock %}

  <p class="py-2">
    {{ 'Remember to substitute with an appropriate value for the <code>REPLACE_WITH_TOKEN</code>'|t }}
  </p>
</details>
